* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(blue,green);
}

header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
}

.high-scores-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.high-scores {
    text-decoration: none;
    color: white;
}


main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}

section {
    flex: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}
